body {
	background-color: #eee;
	font-family: 'Titillium Web', sans-serif;
}

ul {
	list-style-type: none;
	padding-left: 0px;
	width: 95%;
}

#title {
	text-align: center;
	background: Teal;
	width: 100%;
	height: 50px;
	top: 0px;
	left: 0px;
	padding: 0;
	margin: 0 0 20px 0;
	position: absolute;
	clear: both;
}

#title h1 {
	height: 1.6em;
	color: #eee;
	margin-top: 0px;
	font-weight: 300;
}

.coinlist {
	color: red;
	cursor: pointer;
}

.coinlist.on {
	color: green;
}

.removeListitem {
	color: red;
}

#periods {
	position: absolute;
	bottom: 0px;
	left: 50px;
}

#periods li {
	color: #eee;
	display: inline;
	background-color: Teal;
	border-radius: 5px; 
	border: 2px solid Teal;
	padding: 1px 5px;
	margin-right: 20px;
	cursor: pointer;
	box-sizing: border-box;
}

#periods li.selected {
	color: #222;
	background-color: #eee;
	
	box-sizing: border-box;
}

#chartcontainer {
	position:absolute; 
	top:50px; 
	bottom:30px; 
	left:10px; 
	width:80%; 
	box-sizing: border-box;
}

#listcontainer {
	float: right;
	width: 16%;
	top: 50px;
	right: 10px;
	position: absolute;
	
}

#search {
	width: 95%;
	border: 1px solid #bbb;
	padding-left: 5px;
	border-radius: 3px;
	height: 2em;
	box-sizing: border-box;
}

#search:focus {
	outline-color: #bbb;
}

#result {
	margin: 0;
	display: flex;
	flex-direction: column;
	width: 95%;
	padding: 0;
}

.searchresult {
	background-color: white;
	color: grey;
	cursor: pointer;
	height: 1.6em;
	margin: 0;
	padding: 0.5em;	
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-overflow: fade(10px);
}

.searchresult:hover {
	background-color: #ddd; 
}

li span {
	float: right;
}

