<!doctype html>
<html>
	<head>
		<title>CoinChart - to the Moon!</title>
		<link href="https://fonts.googleapis.com/css?family=Titillium+Web:300,400" rel="stylesheet">
		<link rel="stylesheet" href="/style/style.css">
		
	</head>
	<body>
		<div class="container">
			<div id="title">
				<h1 class="title">CoinChart - to the moon!</h1>
			</div>
			<div id="chartcontainer">
				<canvas id="chart"></canvas>
			</div>
			<div id="btncontainer">
				<ul id="periods">
					<li id="1day">1day</li>
					<li id="7day">7day</li>
					<li id="30day">30day</li>
					<li id="90day">90day</li>
					<li id="180day">180day</li>
					<li id="365day" class="selected">365day</li>
				</ul>				
			</div>
			<div id="listcontainer">
				<ul id="list">
					
				</ul>
				<input id="search" type="text" placeholder="Search for coins..." value="" autocomplete="off">
				<ul id="result">
					
				</ul>
				
			</div>
			<p class="credit">Powered by:<img src="/img/coincap_sm.png"/></p>
		</div>
		<script src="/socket.io/socket.io.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.min.js"></script>
		<script>
			const socket = io();
			const list = document.getElementById('list');
			const periods = document.getElementById('periods');
			const search = document.getElementById('search');
			const result = document.getElementById('result');
			let chart = null; 
			let userTimeFrame = '365day';
			let coinlist = [];
  
		    //socket.once('coins', (coins) => populateSearch(coins));
		    socket.on('coinset', function(coins){
		    	list.innerHTML = "";
		    	coins.sort((a,b)=> a.short - b.short);
		    	coins.forEach(function(coin){
		    		appendListItem(coin, list, "coinlist on");
		    	});	
		    	socket.once('coins', function(search){
		    		coinlist = search;
		    		populateSearch(search, coins);
		    	});
		    });
		  	socket.on('coindata', (data) => chartData(data));
		 
		  	list.addEventListener('click', function(e){
		  		e.preventDefault();
		  		if (e.target.innerHTML != 'x'){
		  			let coin = {short: e.target.id, long: e.target.innerHTML.split(' - ')[0]};
			  		if (!e.target.classList.toggle('on')){
			  			socket.emit('removecoin', {coin, period: userTimeFrame});
			  			populateSearch(coinlist);
			  		} else {
			  			socket.emit('addcoin', {coin, period: userTimeFrame});
			  			populateSearch(coinlist);
			  		}
		  		} else {
		  			console.log(e.target.parentNode);
		  			
		  			list.removeChild(e.target.parentNode);
		  			let coin = {short: e.target.parentNode.id, long: e.target.parentNode.innerHTML.split(' - ')[0]};
		  			socket.emit('removecoin', {coin, period: userTimeFrame});
		  			populateSearch(coinlist);
		  		}
		  		
		  	});

		  	periods.addEventListener('click', function(e){
		  		e.preventDefault();
		  		userTimeFrame = e.target.id;
		  		if (e.target.classList.contains('selected')) return;
		  		socket.emit('addcoin', {coin: [], period: userTimeFrame});
		  		for (let i = 0; i<periods.children.length; i++){
		  			periods.children[i].classList.remove('selected');
		  		}
		  		e.target.classList.add('selected');
		  	});

		  	result.addEventListener('click', function(e){
		  		e.preventDefault();
		  		let coin = {long: e.target.innerHTML.split(' - ')[0], short: e.target.id};
		  		socket.emit('addcoin', {coin, period: userTimeFrame});
		  		console.log(coin);
		  		appendListItem(coin, list, "coinlist on");
		  		
		  		result.innerHTML = "";
		  		search.value = "";
		  	});

		  	function populateSearch(coins, excluded=[]) {
		  		search.addEventListener('input', function(e){
			  		e.preventDefault();
			  		result.innerHTML = "";
			  		search.setAttribute('style', 'border-radius: 3px');
			  		let term = e.target.value.trim();
			  		if (term.length < 2) return;
			  		let ex = [...list.children].map(li => li.innerHTML.split("-")[1].split('<')[0].trim()); 
			  		let results = coins.filter(n => (n.long.toLowerCase().indexOf(term) >= 0 || 
			  									n.short.toLowerCase().indexOf(term) >= 0) &&
			  									!excluded.map(c => c.short).includes(n.short) && 
			  									!ex.includes(n.short)
			  									).slice(0,8);
			  		
			  		if (results.length > 0){
			  			results.forEach(function(c){
			  				appendListItem(c, result, `searchresult ${c.short}`);
			  				search.setAttribute('style', 'border-radius: 3px 3px 0 0;');
			  			});
			  		} 
			  		
		  		});
		  	}
			
		  	function appendListItem(coin, element, classes){
		  		const item = document.createElement('li');
		  		item.setAttribute("id" , coin.short);
		  		item.setAttribute("class", classes);
		  		if (element == list) {
		  			item.innerHTML = `${coin.long} - ${coin.short}<span class="removeListitem">x</span>`; 
		  		} else {
		  			item.innerHTML = `${coin.long} - ${coin.short}`;
		  		}
		  		element.appendChild(item);
		  	}

		  	function chartData(data) {
		  		console.log(data);
		  		if (chart !== null) chart.destroy();
		  		const ctx = document.getElementById('chart').getContext('2d');
		  		chart = new Chart(ctx, {
		  			type: 'line',
		  			data,
		  			options: {
				        hover: {
				            mode: 'nearest'
				        },
				        tooltips: {
				        	mode: 'nearest'
				        },
				        responsive: true,
				        maintainAspectRatio: true,
				        scales: {
				        	xAxes: [{
							    type: 'time',
							    ticks: {
							        //autoSkip: true,
							        maxTicksLimit: 12
							    }
							}]
						}
				    }
		  		});
		  	}
		  	
		  	
		</script>
	</body>
</html>