<!doctype html>
<html>
	<head>
		<title>CoinChart - To the Moon!</title>
		<link rel="stylesheet" href="/style/style.css">
	</head>
	<body>
		<div class="container">
			<h1>CoinChart - To the moon!</h1>
			<div id="chartcontainer">
				<canvas id="chart"></canvas>
			</div>
			<div id="btncontainer">
				<ul id="periods">
					<li id="1day">1day</li>
					<li id="7day">7day</li>
					<li id="30day">30day</li>
					<li id="90day">90day</li>
					<li id="180day">180day</li>
					<li id="365day" class="selected">365day</li>
				</ul>				
			</div>
			<div id="listcontainer">
				<ul id="list">
					
				</ul>
				<input id="search" type="text" placeholder="..." value="" autocomplete="off">
				<ul id="result">
					
				</ul>
			</div>
		</div>
		<script src="/socket.io/socket.io.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.min.js"></script>
		<script>
			const socket = io();
			const list = document.getElementById('list');
			const periods = document.getElementById('periods');
			const search = document.getElementById('search');
			const result = document.getElementById('result');
			let chart = null; 
			let userTimeFrame = '365day';
			let searchData = [{
				    "shapeshift": true,
				    "position24": "1",
				    "position": "1",
				    "short": "BTC",
				    "long": "Bitcoin",
				    "time": 1488564664760,
				    "price": "1267.43",
				    "perc": "0.90",
				    "volume": "356447000",
				    "usdVolume": "356447000",
				    "cap24hrChange": "0.90",
				    "mktcap": "20526123907.2",
				    "supply": "16195075",
				    "published": false,
				    "vwapData": "1269.9246309360992"
				  },
				  {
				    "published": false,
				    "time": 1488564705800,
				    "short": "ETH",
				    "position24": "2",
				    "long": "Ethereum",
				    "delta": "0.00066911",
				    "perc": "0.00066911",
				    "supply": "89408480",
				    "price": 19.0114753486,
				    "volume": "102136000",
				    "usdVolume": "102136000",
				    "cap24hrChange": "1.00",
				    "mktcap": 1699787113.4757962,
				    "cap24hrChangePercent": "0.00066777",
				    "capPercent": "0.00066777",
				    "vwapData": "19.551856093859843",
				    "vwapDataBTC": 0.015426379440174087,
				    "shapeshift": true
				  },
				  {
				    "published": false,
				    "time": 1488564713355,
				    "short": "DASH",
				    "position24": "3",
				    "long": "Dash",
				    "delta": "-0.09655115",
				    "perc": "-0.09655115",
				    "supply": "7136101",
				    "price": 45.573360739,
				    "volume": "46480500",
				    "usdVolume": "46480500",
				    "cap24hrChange": "-8.54",
				    "mktcap": 325216105.1429387,
				    "cap24hrChangePercent": "-0.09655115",
				    "capPercent": "-0.09655115",
				    "vwapData": "43.69325315430499",
				    "vwapDataBTC": 0.03447389848299708,
				    "shapeshift": true
				  },
				  {
				    "published": false,
				    "time": 1488564682420,
				    "short": "XRP",
				    "position24": "4",
				    "long": "Ripple",
				    "delta": "0.10067114",
				    "perc": "0.10067114",
				    "supply": "37406829143",
				    "price": 0.006235755600000001,
				    "volume": "3642510",
				    "usdVolume": "3642510",
				    "cap24hrChange": "8.23",
				    "mktcap": 233259844.30670547,
				    "cap24hrChangePercent": "0.09821428",
				    "capPercent": "0.09821428",
				    "vwapData": "0.006140366740352392",
				    "vwapDataBTC": 0.000004844738360581958,
				    "shapeshift": true
				  },
				  {
				    "published": false,
				    "time": 1488564702936,
				    "short": "LTC",
				    "position24": "5",
				    "long": "Litecoin",
				    "delta": "0.04396810",
				    "perc": "0.04396810",
				    "supply": "50031007",
				    "price": 4.040059868,
				    "volume": "11023200",
				    "usdVolume": "11023200",
				    "cap24hrChange": "3.85",
				    "mktcap": 202128263.5363271,
				    "cap24hrChangePercent": "0.04402050",
				    "capPercent": "0.04402050",
				    "vwapData": "4.108388472477776",
				    "vwapDataBTC": 0.0032415111465546624,
				    "shapeshift": true
				  },
				  {
				    "published": false,
				    "time": 1488564709947,
				    "short": "XMR",
				    "position24": "6",
				    "long": "Monero",
				    "delta": "0.07780956",
				    "perc": "0.07780956",
				    "supply": "14047928",
				    "price": 13.8745688843,
				    "volume": "8057400",
				    "usdVolume": "8057400",
				    "cap24hrChange": "7.89",
				    "mktcap": 194908944.71768674,
				    "cap24hrChangePercent": "0.07780956",
				    "capPercent": "0.07780956",
				    "vwapData": "13.783983029276325",
				    "vwapDataBTC": 0.010875537922627935,
				    "shapeshift": true
				  }].map(v => ({
		  				long: v.long, 
		  				short: v.short, 
		  				price: v.price
		  			}));
		    
		    socket.once('coins', (coins) => showCoins(coins));
		  	// socket.on('coindata', (data) => chartData(data));
		 
		  	list.addEventListener('click', function(e){
		  		e.preventDefault();
		  		let coin = e.target.id;
		  		if (!e.target.classList.toggle('on')){
		  			socket.emit('removecoin', {coin, period: userTimeFrame});
		  		} else {
		  			socket.emit('addcoin', {coin: coin, period: userTimeFrame});
		  		}
		  	});

		  	periods.addEventListener('click', function(e){
		  		e.preventDefault();
		  		userTimeFrame = e.target.id;
		  		if (e.target.classList.contains('selected')) return;
		  		socket.emit('addcoin', {coin: [], period: userTimeFrame});
		  		for (let i = 0; i<periods.children.length; i++){
		  			periods.children[i].classList.remove('selected');
		  		}
		  		e.target.classList.add('selected');
		  	});

		  	result.addEventListener('click', function(e){
		  		e.preventDefault();
		  		let coin = e.target;
		  		socket.emit('addcoin', {coin: coin.id, period: userTimeFrame});
		  		coin.long = coin.innerHTML.split(' - ')[1];
		  		coin.short = coin.id;
		  		appendListItem(coin, list, "coinlist on");
		  		result.innerHTML = "";
		  		search.value = "";
		  	});

		  	function showCoins(coins) {
		  		const sortedCoins = coins.sort((a, b) => a.position24 - b.position24).map(v => ({
		  				long: v.long, 
		  				short: v.short, 
		  				price: v.price
		  			}));
		  		const topfive = sortedCoins.slice(0,5);

		  		topfive.forEach(function(c){
		  			appendListItem(c, list, "coinlist on");
		  		});
		  		
		  		search.addEventListener('input', function(e){
			  		e.preventDefault();
			  		result.innerHTML = "";
			  		search.setAttribute('style', 'border-radius: 3px');
			  		let term = e.target.value.trim();
			  		if (term.length < 2) return;
			  		let results = sortedCoins.slice(5).filter(n => n.long.toLowerCase().indexOf(term) >= 0 || n.short.toLowerCase().indexOf(term) >= 0).slice(0,8);
			  		console.log(results);
			  		if (results.length > 0){
			  			results.forEach(function(c){
			  				appendListItem(c, result, `searchresult ${c.short}`);
			  				search.setAttribute('style', 'border-radius: 3px 3px 0 0;');
			  			});
			  		} 
		  		});
		  	}

		  	function appendListItem(coin, element, classes){
		  		const item = document.createElement('li');
		  		item.setAttribute("id" , coin.short);
		  		item.setAttribute("class", classes);
		  		item.innerHTML = `${coin.long} - ${coin.short}`;
		  		element.appendChild(item);
		  	}

		  	function chartData(data) {
		  		if (chart !== null) chart.destroy();
		  		const ctx = document.getElementById('chart').getContext('2d');
		  		chart = new Chart(ctx, {
		  			type: 'line',
		  			data,
		  			options: {
				        hover: {
				            mode: 'nearest'
				        },
				        tooltips: {
				        	mode: 'nearest'
				        },
				        responsive: true,
				        maintainAspectRatio: true,
				        scales: {
				        	xAxes: [{
							    type: 'time',
							    ticks: {
							        autoSkip: true,
							        maxTicksLimit: 12
							    }
							}]
						}
				    }
		  		});
		  	}
		  	
		  	
		</script>
	</body>
</html>