<!doctype html>
<html>
<head>
	<title>CoinChart</title>
	
</head>	
<body>
	<div class="container">
		<h1>CoinChart</h1>
		

	</div>

	<script type="text/javascript" src="/controllers/index.js"></script>
</body>
</html>
